.card-wrapper {
  background-color: var(--white);
  margin: 25px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .user-avatar {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .user-info {
    width: 100%;

    table {
      margin-top: 25px;
      width: 100%;
      table-layout: fixed;
    }
  }
}
