.flex-vertical {
  display: flex;
  flex-direction: column;

  &.center {
    align-items: center;
  }
  &.left {
    align-items: left;
  }
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.align-left {
  text-align: left;
}

.bold {
  font-weight: 800;
}

.border-right {
  border-right: 2px solid var(--light);
}

.border-left {
  border-left: 2px solid var(--light);
}

.border-top {
  border-top: 2px solid var(--light);
}

.border-bottom {
  border-bottom: 2px solid var(--light);
}
